In [1]:
import pandas as pd

In [2]:
pd.options.display.width = None
pd.options.display.max_columns=999

In [3]:
point_forum_sirena_merged = pd.read_csv('assets/merged/forum_pointz_sirena.merged.csv')

/home/lieandie/python/environments/jupiter/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,6,7,8,10,11,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
exchange = pd.read_csv('assets/merged/SkyTeam-Exchange.merged.csv')

In [5]:
point_forum_sirena_merged['depart_date'] = point_forum_sirena_merged['depart_date'].astype('datetime64[ns]')
exchange['date'] = exchange['date'].astype('datetime64[ns]')

In [6]:
exchange.drop(['status','to'], axis=1, inplace=True)

In [9]:
merged = pd.merge(point_forum_sirena_merged, exchange, how="outer", left_on=['flight', 'depart_date', 'airport_departure'], right_on=['id', 'date', 'from'])

In [10]:
merged.head()

,Unnamed: 0,sex,first_name,last_name,flight,depart_date,codeshare,country_arrival,city_arrival,airport_arrival,country_departure,city_departure,airport_departure,status,number,birth_date,arrival_date,code_share,code,e_ticket,document,class,baggage,additional_info,id,date,from,card_id
0,0.0,Male,NaN,NaN,DL3377,2017-03-04,False,United States of,Pittsburgh PA,PIT,United States of,Boston MA,BOS,Basic,KE 889215424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL3377,2017-03-04,BOS,DT 484697244
1,0.0,Male,NaN,NaN,DL3377,2017-03-04,False,United States of,Pittsburgh PA,PIT,United States of,Boston MA,BOS,Basic,KE 889215424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL3377,2017-03-04,BOS,SU 665487392
2,1.0,Male,NaN,NaN,DL3377,2017-03-04,False,United States of,Pittsburgh PA,PIT,United States of,Boston MA,BOS,Elite+,DT 484697244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL3377,2017-03-04,BOS,DT 484697244
3,1.0,Male,NaN,NaN,DL3377,2017-03-04,False,United States of,Pittsburgh PA,PIT,United States of,Boston MA,BOS,Elite+,DT 484697244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL3377,2017-03-04,BOS,SU 665487392
4,2.0,Male,NaN,NaN,DL3598,2017-07-30,False,United States of,Evansville IN,EVV,United States of,Detroit MI,DTW,Basic,KE 889215424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL3598,2017-07-30,DTW,DT 484697244